/*.captchaimage {

border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;

}*/

/*.g-recaptcha {*/

    /*border: 3px solid #ddd;*/
    /*border-radius: 6px;*/
    /*padding: 5px;*/
    /*width: 150px;*/

/*}*/

/*.captcha {*/

/*border: 3px solid #ddd;*/
    /*border-radius: 6px;*/
    /*padding: 5px;*/
    /*width: 150px;*/

/*}*/

#registerbtn {
    cursor: not-allowed;
}

textarea {
    resize: none;
}

